@model WebApplication1.Models.hIngridient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hIngridient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IngridientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngridientName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IngridientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
