
@{
    ViewBag.Title = "AddEntrance";
}

<h2>AddEntrance</h2>

<table class="table table-hover">
    <caption>
        --
    </caption>
    <thead>
   <tr> 
        <th>EntranceId<th>
        <th>IngridientId</th> 
        <th>IngridientCost</th>
        <th>id</th>
        <th>EntranceDateTime</th>
  </tr>
    </thead> 
    <tbody>

    </tbody>
</table>